.navbar-shoping-box,
.navbar-burger-menu-icon,
.navbar-logIn,
.navbar-search-box,
.navbar-user-icon,
.navbar-like-box {
  display: none;
}
.section-login {
  display: flex;
  padding: 25px;
  max-width: 1335px;
  margin: 0 auto;
}
.container-login-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-login-img > img {
  width: 100%;
}
.container-login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-context {
  margin-left: clamp(25px, 7vw, 129px);
}
.login-title {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1.44px;
  color: black;
}
.login-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0 48px 0;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form-text {
  padding-bottom: 8px;
  border-style: none;
  border-bottom: 1px solid gray;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}
.login-form-text::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.login-form-password {
  margin: 40px 0;
  padding-bottom: 8px;
  border-style: none;
  border-bottom: 1px solid gray;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}
.login-form-password::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.login-form-btn-forget {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 10px;
}
.login-form-btn {
  width: 143px;
  height: 56px;
  border-radius: 4px;
  background-color: #db4444;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-style: none;
}
.login-form-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.login-form-forget {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #db4444;
}
.login-form-forget:hover {
  transform: scale(1.1);
}
.login-form-register {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #db4444;
}
.login-form-register a:hover {
  transform: scale(1.1);
}
@media (max-width: 600px) {
  .section-login {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-form-context {
    width: 100%;
    margin: 50px 0 0 0;
  }
}
@media (max-width: 275px) {
  .login-form-btn-forget {
    flex-wrap: wrap;
  }
  .section-login {
    padding: 10px;
  }
}
@media (max-width: 225px) {
  .login-title {
    font-size: 30px;
    line-height: 40px;
  }
  .login-form-context {
    margin: 10px 0 0 0;
  }
  .login-subtitle {
    margin: 12px 0 24px 0;
  }
  .login-form-password {
    margin: 20px 0;
  }
  .login-form-register {
    flex-wrap: wrap;
  }
}
